export(opendna_client)
export(opendna_fold)
export(opendna_evaluate)
export(opendna_design)
export(opendna_analyze)
export(opendna_dock)
export(opendna_fetch_uniprot)
export(opendna_run_workflow)
importFrom(httr, GET, POST, content, add_headers)
importFrom(jsonlite, toJSON, fromJSON)
